<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">메뉴</div>
        <div class="panel-body">
            <ul>
                <li><a href="/admin/products">제품리스트</a></li>
                <li><a href="/admin/order">주문리스트</a></li>
            </ul>
        </div>
    </div>
</div>