<% include ../header.ejs %>
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>id</th>
                <td><input type="text" name="id" class="form-control" value="<%=contacts.id%>"/></td>
            </tr>
            <tr>
                <th>연락처<br>(010-0000-0000)</th>
                <td><input type="Number" name="phoneNumber" class="form-control" value="<%=contacts.phoneNumber%>"/></td>
            </tr>
            <tr>
                <th>가입일</th>
                <td><input type="Date" name="joined_at" class="form-control" value="<%=contacts.joined_at%>"/></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

<% include ../footer.ejs %>